{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}Edit{%endblock%}
{% block content %}
    <h2>Edit</h2>
    <form method="post" class='form-group'>
        {% csrf_token %}
        <div class="form-control">
            {{form.name|as_crispy_field}}
        </div>
        <div class="form-control">
            {{form.description|as_crispy_field}}
        </div>
        <div class="form-control">
            {{form.count|as_crispy_field}}
        </div>
        <button type="submit" class='btn btn-primary'>Save</button>
        {{ res }}
    </form><hr>
    <form method="post" class='form-group'>
        {% csrf_token %}
        <label for='authors'>Authors of book</lable><br>
        <select class='form-control' id='authors' name='authors' multiple>
            {% for author in authors %}
                <option value={{author.id}}>{{author.name}} {{author.surname}}</option>
            {% endfor %}
        </select><br>
        <button type="submit" name='remove' class='btn btn-primary'>Remove</button>
    </form><hr>
    <form method="post" class='form-group'>
        {% csrf_token %}
        <label for='all_authors'>All authors</lable><br>
        <select class='form-control' id='all_authors' name='all_authors' multiple>
            {% for author in all_authors %}
                <option value={{author.id}}>{{author.name}} {{author.surname}}</option>
            {% endfor %}
        </select><br>
        <button type="submit" name='add' class='btn btn-primary'>Add to book</button>
    </form>

{% endblock %}




<!--<form method="post" class='form-group'>-->
        <!--{% csrf_token %}-->
        <!--<label for='name'>Name</lable>-->
        <!--<input class='form-control' id='name' name='name' type='text' maxlength=128 value='{{book.name}}'><br>-->
        <!--<label for='description'>Description</lable>-->
        <!--<textarea class='form-control' id='description' name='description'>{{book.description}}</textarea><br>-->
        <!--<label for='count'>Count</lable>-->
        <!--<input class='form-control' id='count' name='count' type='text' value={{book.count}}><br>-->
        <!--<button type="submit" class='btn btn-primary'>Save</button>-->
        <!--{{ res }}-->
    <!--</form><hr>-->
    <!--<form method="post" class='form-group'>-->
        <!--{% csrf_token %}-->
        <!--<label for='authors'>Authors of book</lable><br>-->
        <!--<select class='form-control' id='authors' name='authors' multiple>-->
            <!--{% for author in authors %}-->
                <!--<option value={{author.id}}>{{author.name}} {{author.surname}}</option>-->
            <!--{% endfor %}-->
        <!--</select><br>-->
        <!--<button type="submit" name='remove' class='btn btn-primary'>Remove</button>-->
    <!--</form><hr>-->
    <!--<form method="post" class='form-group'>-->
        <!--{% csrf_token %}-->
        <!--<label for='all_authors'>All authors</lable><br>-->
        <!--<select class='form-control' id='all_authors' name='all_authors' multiple>-->
            <!--{% for author in all_authors %}-->
                <!--<option value={{author.id}}>{{author.name}} {{author.surname}}</option>-->
            <!--{% endfor %}-->
        <!--</select><br>-->
        <!--<button type="submit" name='add' class='btn btn-primary'>Add to book</button>-->
    <!--</form>-->