{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block title%}New book{%endblock%}
{% block content %}
    <form method="post" class="form-group">
        {% csrf_token %}
        {% comment %} <label for='name'>Name</lable>
        <input id='name' name='name' type='text' maxlength=128 value='{{book.name}}' class="form-control"><br>
        <label for='description'>Description</lable>
        <textarea id='description' name='description' class="form-control">{{book.description}}</textarea><br>
        <label for='count'>Count</lable>
        <input id='count' name='count' type='text' value='{{book.count}}' class="form-control"><br>
        <label for='authors'>All authors</lable><br>
        <select id='authors' name='authors' multiple class="form-control">
            {% for author in all_authors %}
                <option value={{author.id}}>{{author.name}} {{author.surname}}</option>
            {% endfor %}
        </select><br> {% endcomment %}
        <h1 class="col-md-3 mb-0">New book</h1><br>
        <div class="form-group col-md-3 mb-0">
            {{form.name|as_crispy_field}}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{form.description|as_crispy_field}}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{form.count|as_crispy_field}}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{form.all_authors|as_crispy_field}}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        {{ message }}
    </form>
{% endblock %}